body {
    background: rgb(000,200,255)
}
#banner {
    width: 100%;
    height: 320px;
}
h1 {
    text-align: center
}
p {
    text-align: center
}
#missao {
    font-size: 30px
}
em strong {
    color: rgb(255,050,000);
}