* {
    margin: 0;
    padding: 0;
}
title {

}
body {
    background-color: rgb(14,25,54);
    background-image: linear-gradient(to bottom, rgb(2,3,7), rgb(7,26,48));
    font-family: 'Segoe UI', Tahoma;
    min-height: 550px;
    background-image:url(turmatoda.jpg);
    background-attachment: fixed;
    background-size: 29%;
    background-repeat: no-repeat;
 }

section {
    float:none;
    width:550px;
    margin:100px auto;
    color:rgb(255,255,255);
    font-size: 15px;
    text-align: center;
}

section h1 {
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

section table {
    float: left;
    width: 100%;
    height: auto;
    min-height: 200px;
    margin:0;
    padding:0;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(210, 210, 210);
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 0 30px 0 rgb (0,0,0);
    }

section table thead {
    color:rgb(255, 255, 255);
    background-color: rgb(100,100,100);
}

section table thead tr th {
    padding: 7px 5 px;
    font-size: 12px;
    text-align: center;
    color: rgb(255,215,0);
    border: solid rgb(255,255,255);
    border-bottom-width: 1px;
    border-right-width: 1px;
}
section table thead tr th:last-child {
    border-right-width: 0px;
}

section table tbody {
    background-color: rgb(0, 0, 0);
}
section table tbody tr td {
    padding: 3px 5px;
    border: 0 solid rgb(255, 255, 255);
    font-size: 12px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

section table tr.listras {
    background-color: rgba(255,255,255,0.2);
}

section table tfoot {
    color:rgb(255, 255, 255);
    background-color: rgb(0,0,0);
}

section table foot tr td {
    font-size: 30px;
    text-align: center;
}
button {
    padding: 10px 20px;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(210, 210, 210); 
}

input {
    padding: 5px 8px;
    border:2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
     
}
img {
    width: 30%;
    margin: 100px auto;
    color: rgb(0,0,0);
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: 29%;
    background-repeat: no-repeat;
    top: -90px;
    left: 480px;
}
div {
    width: 30%;
    margin: 100px auto;
    color: rgb(0,0,0);
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: 29%;
    background-repeat: no-repeat;
    top: -50px;
    left: 10px;
}
div button {
    padding: 10px 20px;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(210, 210, 210);
}
