body {
    background-image:url(rota.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0);
    font-family:'Segoe UI', 'Tahoma';
}
input {
    padding: 5px 8px;
    border: 2px solid rgb(0,0,0);
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -200px;
    left: 350px;
}

button {
    padding: 5px 8px;
    border: 2px solid rgb(0,0,0);
    background-color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
    left: 400px;
}

h1 {
    float: left;
    width: 100%;
    margin: 100px auto;
    color: rgb(0,0,0);
    align-items: center;
    position: relative;
    top: -100px;
    left: 250px;
}