* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(14,25,54);
    background-image: linear-gradient(to bottom, rgb(2,3,7), rgb(7,26,48));
    font-family: 'Segoe UI', Tahoma;
    min-height: 550px;
}

section {
    float:none;
    width:550px;
    margin:100px auto;
    color:rgb(255,255,255);
    font-size: 15px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(210, 210, 210);
    color:rgb(0,55,55);
    font-size: 20px; 
}

input {
    padding: 10px 25px;
    border:2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border:8px solid rgb(0,0,0); 
}
h2 {
    color:rgb(255,255,255);
    font-size: 10px;
    text-align: center;
}   
